span{
    color:'skyblue';
}
label{
    margin-left:17px;
    margin-bottom:20px;
 
}
@media (min-width:200px) and (max-width:1200px) {
    .main-div{
       
        margin:50px 200px 50px 200px;
        padding:20px;
        height:550px;
        /* width: 941px; */
        border:1px solid black;
    }
}