body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .table{
  background-color:burlywood;
  color:white;
  text-align: center;
  height:400px;
  font-size: 10px;
  font-weight: bold;
}
.t-head{
  background-color:black;
  color:white;
  height: 35px;
  
   */
/* }
.none{
  visibility: hidden;
}
.fa{
  cursor: pointer;
} */