th, td {
    padding: 15px,
  }
  td{
    text-align: center;
    font-size: 17px;
    border: 1px solid black;
  }
  
  td{
    cursor: pointer;
  }
  input{
    border: none;
    outline: none;
    background:#151313;
    color: white;
  }